<button [style.backgroundColor]="color" (click)="changeColor()">
  <span>{{ isOpen === "block" ? "Ukryj" : "Wyświetl" }}</span>
  wizytówkę
</button>

<div [style]="container">
  <div [style]="style" [style.display]="isOpen">
    <div [style]="tabStyle" *ngFor="let item of person | keyvalue">
      <span *ngIf="item.key !== 'sex'">
        <span *ngIf="item.key !== 'img'">{{ item.value }}</span></span
      >
      <span *ngIf="item.key === 'img'">
        <img [src]="item.value" [style.width.px]="40" />
      </span>
      <span *ngIf="item.key === 'sex'">
        <span *ngIf="item.value"> Mężczyzna </span>
        <span *ngIf="!item.value"> Kobieta </span>
      </span>
    </div>
  </div>

  <div [style]="style">
    <input [(ngModel)]="person.name" />
    <input [(ngModel)]="person.surname" />
    <span [style.display]="'flex'">
      Płeć <input type="checkbox" [(ngModel)]="person.sex" />
    </span>
    <input [(ngModel)]="person.adress" />
    <input [(ngModel)]="person.phone" />
    <input [(ngModel)]="person.email" />
  </div>
</div>
